*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 70%;
}

body{
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    background-color:darkgray;
    color: white;
    margin-top: 0px;

}
.header .entete{
    width: 100%;
    background-color: rgba(14, 44, 16, 0.699);
    display: flex;
}
.header .entete .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 60%;

}

.header .entete .titre{
    margin-left: 40%;

}


.header .entete .titre h3{
    font-size: 1.7rem;
    font-family: arial;
    margin-top: 30%;
}

.navigation{
    position: sticky;
    top: 250px;
    margin: 25px auto;
    background-color: #222;

}

.navigation ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;

}

.navigation ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: none;
    color: #ddd;
}