*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 70%;
}

body{
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    background-color:darkgray;
    color: white;
    margin-top: 0px;
}
div.formulaire{
    border: solid 1px rgba(61,45,45,0.842);
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #0062ff;
margin-right: 10%;
}
form{
    margin-left: 25%;
    margin-top: 5%;

}


div.title h2 {
    margin-top: 10px;
    color: #4c1b1b;
    margin-left: 35%;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 2rem;
    

}

div.form-content{

    margin-top: 20px;

}

table{
    width: 370px;
    height: 110px;
    
    border: 0;
}
td.bouton input{
    color: black;
    font-size: 2rem;
    font-family: poppins,sans-serif;
    margin-top: 40px;
    margin-left: 50px;
}